* {
    margin: 0px;
}
body{
    background-color: var(--main-bg-color);
}




/* Repeated Classes */


.btn-container {
    width: 290px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    background: var(--button-color);
}

.down-btn-container {
    width: 289px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 1px solid var(--btn-font-color);
}

.btn {
    color: var(--btn-font-color);
    font-family: var(--btn-font);
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    text-decoration: none;
}


.head {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 62px;
    line-height: 74px;
    letter-spacing: 0px;
    font-weight: 900;
}

.sub {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    font-weight: 400px;
}

.section {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 80%;
    max-width: 1536px;
}

.section-container {
    display: flex;
    justify-content: center;
}


/* ---------------------------Hero Section-------------------------- */

/* Nav */


header{
    background: var(--hero-bg);
}
.hero-section{
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 74px;
}

.nav{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1378px;
}

.nav .brand {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 46px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
}


.nav-bar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 52px;
}

.nav-bar .nav-bar-1 {
    width: 118px;
    height: 49px;
    background-color: var(--primary-color);
    border-radius: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .nav-bar-4{
    padding-right: 26px;
}




/* Hero */
.hero{
    display: flex;
    margin-top: 130px;
    gap: 16%;

}
.hero-name , .hero-img{
    width: calc(50% - 8%);
}

/* Hero Name */

.hero-name h1{
color: var(--head-font-color);
font-family:var(--main-font);
font-size: 100px;
font-weight: 800;
line-height: 120px;
letter-spacing: 0%;
text-align: left;
}
.hero-name h1 span{
font-family: var(--carve-font);
font-size: 190px;
font-weight: 400;
}
.hero-name p{
    color: var(--sub-font-color);
font-family: var(--main-font);
font-size: 20px;
font-weight: 400;
line-height:30px;
letter-spacing: 0.5px;
text-align: left;
}

.btn-box{
    display: flex;
    margin-top: 36px;
    gap: 18px;
}


/* Hero Image */

.hero-img{
    position: relative;
}

.experience-hover{
 box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 13px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
padding: 30px;
width: 267px;
height: 124px;
}
.experience-hover h3{
color: var(--head-font-color);
font-family: var(--main-font);
font-size: 39px;
font-weight: 900;
line-height: 30px;
letter-spacing: 0.3px;
text-align: left;
}


.experience-hover p{
   color: var(--sub-font-color);
font-family: var(--main-font);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 1px;
text-align: left;
}

.experience-hover > div > h3{
font-size: 30px;
}
.experience-hover .red-circle{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: var(--primary-color);
}

.hero-img img{
    scale: 1.3;
    position: relative;
    left: 100px;
}

.ex-1{
    position: absolute;
    top: 120px;
    right: 20px;
}

.ex-2{
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    bottom: 50px;
    left: -100px;
}




