* {
    margin: 0px;
}

body {
    background-color: var(--main-bg-color);
}




/* Repeated Classes */


.btn-container {
    width: 290px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    background: var(--button-color);
}

.down-btn-container {
    width: 289px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 1px solid var(--btn-font-color);
}

.btn {
    color: var(--btn-font-color);
    font-family: var(--btn-font);
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0px;
    text-decoration: none;
}


.head {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 62px;
    line-height: 74px;
    letter-spacing: 0px;
    font-weight: 900;
    margin-bottom: 18px;
}

.sub {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.3px;
    font-weight: 400px;
    margin-bottom: 40px;
}

.box-head {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
}

.section {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 80%;
    max-width: 1536px;
}

.section-container {
    display: flex;
    justify-content: center;
}


/* ---------------------------Hero Section-------------------------- */

/* Nav */


header {
    background: var(--hero-bg);
}

.hero-section {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 74px;
}

.nav {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1378px;
}

.nav .brand {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 46px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: left;
}


.nav-bar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 52px;
}

.nav-bar .nav-bar-1 {
    width: 118px;
    height: 49px;
    background-color: var(--primary-color);
    border-radius: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .nav-bar-4 {
    padding-right: 26px;
}

.menu-bar {
    display: none;
}




/* Hero */
.hero {
    display: flex;
    margin-top: 130px;
    gap: 16%;

}

.hero-name,
.hero-img {
    width: calc(50% - 8%);
}

/* Hero Name */

.hero-name h1 {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 100px;
    font-weight: 800;
    line-height: 120px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 28px;
}

.hero-name h1 span {
    font-family: var(--carve-font);
    font-size: 190px;
    font-weight: 400;
}

.hero-name p {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
}

.btn-box {
    display: flex;
    margin-top: 36px;
    gap: 18px;
}


/* Hero Image */

.hero-img {
    position: relative;
}

.experience-hover {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 13px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 267px;
    height: 124px;
}

.experience-hover h3 {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 39px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: left;
}


.experience-hover p {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: left;
}

.experience-hover>div>h3 {
    font-size: 30px;
}

.red-circle img {
    width: 52px;
}

.hero-img>img {
    scale: 1.3;
    position: relative;
    left: 100px;
}

.ex-1 {
    position: absolute;
    top: 120px;
    right: 20px;
}

.ex-2 {
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    bottom: 50px;
    left: -100px;
}





/* ------------------------------  Habit  ----------------------------- */



.habits {
    flex-direction: column;
    text-align: center;
}


.habit-container {
    display: flex;
    justify-content: space-between;
}

.habit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-box img {
    scale: 1.3;
    border: 6px solid var(--second-bg-color);
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 62px;
}





/* ---------------------------Run a Mile-------------------------- */


.run {
    background: var(--second-bg-color);
    padding: 41px;
    justify-content: space-between;
    border-radius: 23px;
    gap: 16%;
}

.run img {
    border-radius: 23px;
}


.run-description {
    margin-left: 30px;
    margin-top: 15px;
}


/* ---------------------------Training-------------------------- */




/* ---------------------------- BMI  ------------------------------ */




/* ------------------------------  Team  ---------------------------- */


.team {
    flex-direction: column;
    align-items: center;
}

.team-container {
    display: flex;
    background: var(--second-bg-color);
    border-radius: 23px;
    gap: 26px;
    padding: 26px;
    flex-wrap: wrap;
    width: 91%;
}

.team-card {
    width: 424px;
    height: 353px;
    background-size: cover;
    border-radius: 23px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 24px;
}

.card-1 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer1.png") no-repeat center / cover;

}

.card-2 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer2.png") no-repeat center / cover;
}

.card-3 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer3.png") no-repeat center / cover;
}

.card-4 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer4.png") no-repeat center / cover;
}

.card-5 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer5.png") no-repeat center / cover;
}

.card-6 {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/trainer6.png") no-repeat center / cover;
}


/* ------------------------------Footer---------------------------- */


footer {
    background: var(--second-bg-color);
}


.description {
    flex-direction: column;
    padding-right: 12%;
}

.description h1 {
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: 90px;
    font-weight: 800;
    line-height: 110px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 26px;

}

.contact h4 {
    color: var(--head-font-color);
    font-family: var(--main-font);
    font-size: 41px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 26px;

}

.contact a {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}


.copywrite p {
    color: var(--sub-font-color);
    font-family: var(--main-font);
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 46px 0px;
}

.get-started {
    display: flex;
    flex-direction: column;
    gap: 26px;
}


.brand-info {
    flex-direction: column;
    margin-bottom: 0px;
}

.footer-part {
    display: flex;
    margin-top: 85px;
    margin-bottom: 103px;
}

.contact {
    display: flex;
    gap: 24%;
}

.description,
.contact {
    width: 50%;


}

.brand-info hr {
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copywrite {
    display: flex;
    justify-content: center;
}









@media screen and (max-width: 998px) {}






@media screen and (max-width: 576px) {


    /* Repeated Classes */



    .btn-container {
        width: 168px;
        height: 53px;
    }

    .down-btn-container {
        width: 169px;
        height: 54px;
    }

    .btn {
        font-size: 18px;
    }

    .btn span {
        display: none;
    }

    .head {
        font-size: 32px;
        line-height: 39px;
    }

    .sub {
        font-size: 14px;
        line-height: 24px;
    }

    .box-head {
        font-size: 18px;
        line-height: 22px;
    }

    .section {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        width: 95%;
    }

    .section-container {
        display: flex;
        justify-content: center;
    }




    /* Nav */

    nav {
        width: 100%;
    }

    .nav .nav-bar {
        display: none;
    }

    .menu-bar {
        display: block;
        margin-top: 18px;
    }

    .nav .brand {
        font-size: 30px;
    }

    /* Hero */

    .hero-name h1 {
        font-size: 36px;
        line-height: 44px;
        width: 70%;
    }

    .hero-name h1 span {
        font-size: 70px;
    }

    .hero {
        flex-direction: column;
        margin-top: 52px;
    }

    .hero-name,
    .hero-img {
        width: 100%;
    }

    .hero-name p {
        font-size: 16px;
        line-height: 24px;
        width: 70%;
    }

    .hero-img img {
        scale: 1;
        left: 0px;
        top: 20px;
        padding: 0PX;
    }

    .red-circle img {
        width: 32px;
    }

    .experience-hover {
        width: 155.74px;
        height: 72.58px;
        padding: 12px 18px;
    }

    .experience-hover h3 {
        font-size: 30px;
    }

    .experience-hover p {
        font-size: 10px;
    }

    .experience-hover>div>h3 {
        font-size: 18px;
    }

    .ex-1 {
        top: 100px;
        right: 0px;
    }

    .ex-2 {
        left: 0px;
        gap: 12px;
        padding: 14px 16px;
    }



    /* Habits */
    .habit-box img {
        scale: 1;
        margin-top: 36px;
        margin-bottom: 30px;
    }

    .habit-container {
        flex-direction: column;
    }


    /* Run */

    .run {
        margin: 4.6%;
        padding: 33px;
        flex-direction: column;
        align-items: center;
    }

    .run-description {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 31px;
    }

    .run-description div {
        display: flex;
        justify-content: center;
    }

    .run-description .btn-container {
        width: 290px;
    }


    /* Team */

    .team {
        width: 90%;
    }


    .team-container {
        flex-direction: column;
    }

    .team-card {
        width: 313px;
        height: 272px;
    }



    /* Footer */

    .description h1 {
        font-size: 64px;
        line-height: 85px;
    }

    .footer-part {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    .contact h4 {
        font-size: 32px;
        line-height: 39px;
    }

    .contact a {
        font-size: 23px;
        line-height: 28px;
    }

    .r-side{
        margin-bottom: 0px;
    }


    .copywrite p{
        font-size: 20px;
line-height: 24px;
    }

    .description,
.contact {
    width: 80%;
}
.footer-part{
    margin-bottom: 30px;
}

.contact h4{
    margin-top: 40px;
     margin-bottom: 0px;
}
}